#login-overlay {
    height: 100%;
    /* changed for demo */
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    overflow-y: hidden;
    transition: 1s;
}

.login {
    width: 500px;
    margin: 16px auto;
    font-size: 16px;
    z-index: 10;
    border-radius: 25px;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
    margin-top: 0;
    margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
    width: 0;
    margin-right: auto;
    margin-left: auto;
    border: 12px solid transparent;
    border-bottom-color: #6998ab;
}

.login-header {
    background: #6998ab;
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    color: #fff;
}

.login-container {
    background: #ebebeb;
    padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
    padding: 12px;
}

.login input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
    margin-bottom: 10px;
}

.login input[type="email"],
.login input[type="password"] {
    background: #fff;
    border-color: #bbb;
    color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
    border-color: #888;
}

.login .submit {
    width: 150px;
    height: 50px;
    background: #6998ab;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    border-radius: 25px;
    margin-left: 140px;
}

.login .submit:hover {
    background: #17c;
}

/* Buttons' focus effect */
.login .submit:focus {
    border-color: #05a;
}



input.error {
    border-color: red;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: .5rem;
}

.input-feedback {
    color: red;
    margin-top: .25rem;
}